####################################################################
#                                                                  #
# FICHERO DE FUNCIONALIDADES DE LA BOTONERA  HMI PIXY INC.70       #
#                                                                  #
####################################################################

##########################################################
#    FUNCIONALIDAD          TECLAS ASOCIADA              #
##########################################################

# Definición de la función de incremento de brillo
INC_BRIGHTNESS                B_CIRC

# Definición de la función de disminución de brillo
DEC_BRIGHTNESS                B_F1

# Definición de encendido/apagado TFT
TFT_ON               B_CIRC             B_EQ

# Definición de teclas asociadas al menu seguro
SHOW_SAVE_MENU                 B_3

# Definición de teclas asociadas al menu normal
SHOW_MENU                      B_1

# Definición de teclas asociadas a la salida de la aplicación
EXIT                           B_0

# Definición de tecla asociada al retorno de carro
RETURN                         B_ENTER    