##########################################################################################
#                                                                                        #
# FICHERO DE CONFIGURACION DE LA BOTONERA DE DISPOSITIVO HMI PIXY INC.70                 #
#                             TIPO DE BOTONERA - ?                                       #
#                                                                                        #
##########################################################################################

##########################################################################################
# Identificador      CARACTER ASCII      Codigo Photon     Codigos(SERIAL)               #
##########################################################################################

##########################################################################################
#                                   TECLADO INFERIOR                                     #
##########################################################################################

     B_1                1                 K_1               2       130
     B_2                2                 K_2               3       131
     B_3                3                 K_3               4       132
     B_4                4                 K_4               5       133
     B_5                5                 K_5               6       134
     B_6                6                 K_6               7       135
     B_7                7                 K_7               8       136
     B_8                8                 K_8               9       137
     B_9                9                 K_9              10       138
     B_0                0                 K_0              11       139

##########################################################################################
#                                   TECLADO SUPERIOR                                     #
##########################################################################################

     B_CIRC           escape              K_Escape          1       129
     B_F1             null                K_F1             59       187
     B_F2             null                K_F2             60       188
     B_F3             null                K_F3             61       189
     B_F4             null                K_F4             62       190
     B_F5             null                K_F5             63       191
     B_F6             null                K_F6             64       192
     B_GT             null                K_ccedilla       43       171
     B_EQ              o                  K_o              24       152
     B_F               f                  K_f              33       161

##########################################################################################
#                                   TECLADO LATERAL DERECHO                              #
##########################################################################################

     B_C                c                 K_c               46      174
     B_UP              null               K_Up              72      224    200
     B_DOWN            null               K_Down            80      224    208
     B_LEFT            null               K_Left            75      224    203
     B_RIGHT           null               K_Right           77      224    205
     B_ENTER           enter              K_Enter           28      156