##########################################################################################
#                                                                                        #
# FICHERO DE TRANSFORMACIÓN DE LA BOTONERA DEL DISPOSITIVO HMI PIXY INC.70               #
#                             TIPO DE BOTONERA - 0                                       #
#                                                                                        #
##########################################################################################

##########################################################
# Identificador      Codigo ACSII      Codigo Photon     #
##########################################################

##########################################################
#                TECLADO INFERIOR                        #
##########################################################

     B_1                1                 K_1
     B_2                2                 K_2
     B_3                3                 K_3
     B_4                4                 K_4
     B_5                5                 K_5
     B_6                6                 K_6
     B_7                7                 K_7
     B_8                8                 K_8
     B_9                9                 K_9
     B_0                0                 K_0

##########################################################
#                TECLADO SUPERIOR                        #
##########################################################

     B_CIRC             a                 K_a
     B_F1               b                 K_b
     B_F2               t                 K_t
     B_F3               -                 K_minus
     B_F4               .                 K_period
     B_F5               null              K_Pg_Up
     B_F6               null              K_Pg_Down
     B_GT               >                 K_greater
     B_EQ               null              K_BackSpace
     B_F                n                 K_n

##########################################################
#            TECLADO LATERAL DERECHO                     #
##########################################################

     B_C               null               K_Escape
     B_UP              null               K_Up
     B_DOWN            null               K_Down
     B_LEFT            null               K_Left
     B_RIGHTT          null               K_Right
     B_ENTER           enter              K_Enter